<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:ss:SSS} [%t] %highlight{%-5level:} %logger{36} - %msg%n"/>
        </Console>
        <Routing name="routingAppender">
            <Routes pattern="${sys:fw.logFileName}.log">
                <Route>
                    <RollingFile
                            name="RollingFile" filename="logs/${sys:fw.logFileName}.log"
                            filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz"
                            append="false">
                        <PatternLayout>
                            <pattern>%d{HH:ss:SSS} [%t] %highlight{%-5level:} %logger{36} - %msg%n</pattern>
                        </PatternLayout>
                        <TimeBasedTriggeringPolicy/>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>
    </appenders>
    <loggers>
        <Logger name="org.apache.commons" level="info">
            <AppenderRef ref="Console"/>
        </Logger>
        <root level="info">
            <appender-ref ref="Console" level="info"/>
            <appender-ref ref="routingAppender" level="info"/>
        </root>
    </loggers>
</configuration>